/* Existing CSS */
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #282828;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #282828;
    color: white;
    position: relative;
}

.filters {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
}

.selected-difficulties {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.difficulty-tag {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 5px;
    background-color: #3e3e3e;
    color: white;
}

.difficulty-tag.easy {
    color: #00ffe1;
}

.difficulty-tag.medium {
    color: #ffa116;
}

.difficulty-tag.hard {
    color: #ff375a;
}

.close-btn {
    margin-left: 5px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #3e3e3e;
    color: #c2c2c2;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #303030;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    left: -10px; /* Move dropdown a bit to the left */
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a.easy {
    background-color: #282828;
    color: #00ffe1;
}

.dropdown-content a.medium {
    background-color: #282828;
    color: #ffa116;
}

.dropdown-content a.hard {
    background-color: #282828;
    color: #ff375a;
}

.dropdown-content a:hover {
    background-color: #575757;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-content {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 200px;
    margin-right: 20px;
    background-color: #282828;
    color: white;
    padding: 20px;
}

.company-list {
    display: flex;
    flex-direction: column;
}

.company-filter {
    margin: 5px 0;
    padding: 5px;
    border-radius: 20px;
    background-color: #3e3e3e;
    color: #c2c2c2;
    border: none;
    cursor: pointer;
}

.company-filter.active {
    background-color: white;
    color: black;
}


/* Existing CSS */

/* Add styles for search bar and pagination controls */
#searchBar {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.pagination-btn {
    background-color: #3e3e3e;
    color: #c2c2c2;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-btn:disabled {
    background-color: #6c6c6c;
    cursor: not-allowed;
}

.pageInfo {
    color: white;
}

/* Set fixed height for the company list */
.company-list {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 150px); /* Adjust this value as needed */
    overflow-y: auto;
}

.company-filter {
    margin: 5px 0;
    padding: 5px;
    border-radius: 20px;
    background-color: #3e3e3e;
    color: #c2c2c2;
    border: none;
    cursor: pointer;
}

.company-filter.active {
    background-color: white;
    color: black;
}


.content {
    flex: 1;
    padding: 20px;
    background-color: #121212;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Existing CSS remains unchanged */

/* New CSS for difficulty levels */


.difficulty.easy {
    color: #00ffe1;
}

.difficulty.medium {
    color: #ffa116; 
}

.difficulty.hard {
    color: #ff375a; 
}


th button {
    background: none;
    border: none;
    cursor: pointer;
    color: #c2c2c2;
    font-size: 15px;
}

h1 {
    margin: 0;
}

/* Scroll to top button */
#scrollToTopBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    left: 20px; 
    width: 50px; 
    height: 50px; 
    background-color: white; 
    color: black; 
    border: none; 
    border-radius: 50%; 
    text-align: center; 
    font-size: 24px; 
    cursor: pointer; 
    z-index: 1000; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

#scrollToTopBtn:hover {
    background-color: #f1f1f1df;
}

/* New CSS for table links */
td a {
    color: white;
    text-decoration: none; /* Remove underline */
}

td a:hover {
    color: #4e8cff; /* Change color on hover */
}


.footer {
    background-color: #282828;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto; /* Push footer to the bottom */
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.footer-content .made-by{
    color: #c2c2c2;
}
.social-icons {
    margin-top: 10px;
}

.social-link {
    display: inline-block;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.social-link:hover {
    background-color: #575757;
}

.social-link i {
    font-size: 40px;
    color: white; /* Ensure icon color is white */
}
